 @media screen and (min-width:320px) {
    @font-face {
        font-family: 'poppins-bold';
        src: url('Poppins/poppins-bold.ttf');
    }
    @font-face {
        font-family: 'poppins-regular';
        src: url('Poppins/Poppins-Regular.ttf');
    }
    *{
        margin: 0px;
    }
    .section-container-1{
        background-image: linear-gradient(to left,#8FE5CD,#7099C3,#4839B7);
        width: 100%;
    }
    .top-container{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 23px;
    }
    .header-container{
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
        padding: 10px 20px 10px 20px;
    }
    .sign-tag{
        font-family: 'poppins-bold';
        padding: 6px 14px;
        font-weight: bold;
        background-image: linear-gradient(to right,#BA49E2,#CF56AB,#FA6E3B);
        border-radius: 14px;
        text-decoration: none;
        color: white;
        margin-right: 6px;
        font-size: 12px;
    }
    .login-tag{
        font-family: 'poppins-bold';
        font-weight: bold;
        padding: 6px 11px 6px 18px;
        font-size: 12px;
        background-image: linear-gradient(to right,#B79039,#DC8A3F,#FF8545);
        border-radius: 14px;
        text-decoration: none;
        color: white;
        margin-right: 4px;
    }
    .main-heading{
        color: white;
        font-size: 20px;
        font-family: 'poppins-bold';
        max-width: 250px;
    }
    .main-image{
        width: 250px;
    }
    .grid-image{
        position: absolute;
        top: 6%;
        left: 13%;
        width: 90px;
        background-color: transparent;
        z-index: -1;
    }
    .second-heading{
        color: #FDA145;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        font-family: 'poppins bold';
        padding: 28px 30px 0px 20px;
    }
    .sub-section-container-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 100px 58px 100px;
    }
    .icon-image{
        height: 40px;
        width: 40px;
        padding-left: 40px;
    }
    .article-container{
        background-color: #FAFAFA;
        padding-left: 13px;
        padding-right: 23px;
        padding-bottom: 18px;
        width: 230px;
        box-shadow: 0px 15px 40px rgb(202, 190, 190);
        margin: 43px 20px 0px 20px;
    }
    .article-heading{
        font-size: 18px;
        color: #504450;
        font-weight: bold;
        margin: 16px 0px 7px 20px;
        font-family: 'poppins-bold';
    }
    .article-para{
        color: #504450;
        font-size: 12px;
        font-family: 'poppins-regular';
        padding: 0px 0px 10px 20px;
    }
    .action-tag{
        background-image: linear-gradient(to right,#4A90FF,#A166D8,#FA3BB1);
        color: white;
        font-weight: bold;
        font-size: 10px;
        padding: 6px 15px 6px 15px;
        border-radius: 15px;
        text-decoration: none;
        font-family: 'poppins-bold';
        margin: 0px 0px 33px 20px;
    }
    .action{
        background-image: linear-gradient(to right,#B79039,#DB8B3F,#FF8545);
    }
    .section-container-3{
        padding: 25px 30px 64px 30px;
        background-color: #6430B7;
    }
    .third-heading{
        font-weight: bold;
        font-size: 20px;
        color: white;
        font-family: 'poppins-bold';
        margin-bottom: 11px;
    }
    .third-head-para{
        font-size: 12px;
        color: white;
        font-family: 'poppins-regular';
    }
    .action-container{
        padding-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .sub-action-link{
        padding: 10px 20px 8px 20px;
        border: 1px solid #FFC04A;
        border-radius: 8px;
        background-color: #24093E;
        font-size: 12px;
        color: white;
        text-decoration: none;
        margin-right: 9px;
        font-family: 'poppins-regular';
    }
    .super-sub-action-link-1{
        border: #2AFAC2 solid 1px;
        padding: 10px 27px 8px 25px;
    }
    .super-sub-action-link-2{
        border: #2AFAC2 solid 1px;
        padding: 10px 27px 9px 27px;
        margin-top: 10px;
    }
    .action-1{
        background-color: #39B2B7;
        color: #311A8B;
        font-size: 12px;
        font-weight: bold;
        padding: 6px 12px 6px 16px;
        border-radius: 15px;
        text-decoration: none;
        font-family: 'poppins-bold';
    }
    
    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 25px 22px 25px;
    }
    .mobile-footer-links{
        padding-right:0px;
    }
    .footer-action-1{
        background-color: white;
        color: #504450;
        font-size: 12px;
        font-weight: 300;
        border: #707070 solid 1px;
        padding: 2px 87px 3px 87px;
        text-decoration: none;
        border-radius: 10px;
        font-family: 'poppins-regular';
    }
    .additional-footer-action-container{
        margin-bottom: 10px;
    }
    .footer-action-container{
        margin-bottom: 10px;
    }
    .footer-action-2{ 
        padding: 3px 24px; 
    }
    .footer-action-4{
        padding: 3px 30px;
    }
    .disable-button{
        background-color: #EFEDED;
        color: #504450;
        font-size: 12px;
        font-weight: 300;
        text-decoration: none;
        border-radius: 10px;
        padding: 3px 19px;
        margin-top: 7px;
        font-family: 'poppins-regular';
    }
    .mobile-parter-container{
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }
    .parter-container{
        display: none;
    }
    .parter-link{
        color: #FA3B6E;
        border: #FF4A4A solid 1px;
        padding: 6px 55px;
        background-color: white;
        font-size: 15px;
        font-weight: bold;
        border-radius: 25px;
        text-decoration: none;
        font-family: 'poppins-bold';
    }
    .sub-footer-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .super-footer-container{
        display: flex;
        flex-direction: column;
    }
     
    .footer-header{
        color: #504450;
        font-size: 20px;
        font-weight: bold;
        font-family: 'poppins-bold';
        margin-top: 30px;
    }
    .footer-action-links{
        color: #504450;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        margin-top: 10px;
        font-family: 'poppins-regular';
    }
    .footer-icon-container{
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    .footer-icon-container i+i{
        margin-left: 10px;
    }
    .copyright-para{
        font-size: 10px;
        color: #504450;
        margin: 20px auto;
        text-align: center;
        position: relative;
        max-width: 300px;
        font-family: 'poppins-regular';
    }
    .copyright-para::before{
        content: "";
        display: block;
        width: 60px;
        height: 1px;
        background: rgb(66, 65, 65);
        position: absolute;
        left: 0;
        top:50%;
        z-index: -2;
    }
    .copyright-para::after{
        content: "";
        display: block;
        width: 60px;
        height: 1px;
        background: rgb(66, 65, 65);
        position: absolute;
        right: 0;
        top:50%;
        z-index: -2;
    }
    .sub-para-span{
        background: #fff;
    } 
}




@font-face {
    font-family: 'poppins-bold';
    src: url('Poppins/poppins-bold.ttf');
}
@font-face {
    font-family: 'poppins-regular';
    src: url('Poppins/Poppins-Regular.ttf');
}
*{
    margin: 0px;
}
.section-container-1{
    background-image: linear-gradient(to left,#8FE5CD,#7099C3,#4839B7);
    width: 100%;
}
.top-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 43px;
}
.sign-tag{
    font-family: 'poppins-bold';
    padding: 12px 24px;
    font-weight: bold;
    background-image: linear-gradient(to right,#BA49E2,#CF56AB,#FA6E3B);
    border-radius: 20px;
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-size: 18px;
}
.login-tag{
    font-family: 'poppins-bold';
    font-weight: bold;
    padding: 12px 17px 12px 34px;
    font-size: 18px;
    background-image: linear-gradient(to right,#B79039,#DC8A3F,#FF8545);
    border-radius: 20px;
    text-decoration: none;
    color: white;
    margin-right: 12px;
}
.header-container{
    display: flex;
    justify-content:center;
    position: relative;
    z-index: 2;
    padding: 30px 120px 53px 161px;
}
.main-heading{
    color: white;
    font-size: 80px;
    font-family: 'poppins-bold';
    min-width: 700px;
}
.grid-image{
    position: absolute;
    top: 6%;
    left: 13%;
    background-color: transparent;
    z-index: -1;
}
.second-heading{
    color: #FDA145;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    font-family: 'poppins bold';
    padding: 135px 140px 0px 140px;
}
.sub-section-container-1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 199px 117px 165px;
}
.icon-image{
    height: 60px;
    width: 60px;
    padding-left: 40px;
}
.article-container{
    background-color: #FAFAFA;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 360px;
    box-shadow: 0px 30px 40px rgb(202, 190, 190);
    margin: 92px 43px 0px 0px;
}
.mar-article-container{
    margin: 92px 0px 0px 43px;
}
.article-heading{
    font-size: 36px;
    color: #504450;
    font-weight: bold;
    margin: 34px 0px 15px 40px;
    font-family: 'poppins-bold';
}
.article-para{
    color: #504450;
    font-size: 20px;
    font-family: 'poppins-regular';
    padding: 0px 0px 20px 40px;
}
.action-tag{
    background-image: linear-gradient(to right,#4A90FF,#A166D8,#FA3BB1);
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 13px 33px 11px 33px;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'poppins-bold';
    margin: 0px 0px 70px 41px;
}
.action{
    background-image: linear-gradient(to right,#B79039,#DB8B3F,#FF8545);
}
.section-container-3{
    padding: 51px 244px 73px 165px;
    background-color: #6430B7;
}
.third-heading{
    font-weight: bold;
    font-size: 50px;
    color: white;
    font-family: 'poppins-bold';
    margin-bottom: 25px;
}
.third-head-para{
    font-size: 18px;
    color: white;
    font-family: 'poppins-regular';
}
.action-container{
    padding-top: 50px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 235px 284px 321px;
}
.sub-action-link{
    padding: 21px 55px 17px 55px;
    border: 1px solid #FFC04A;
    border-radius: 8px;
    background-color: #24093E;
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-right: 16px;
    font-family: 'poppins-regular';
}
.super-sub-action-link-1{
    border: #2AFAC2 solid 1px;
    padding: 21px 74px 17px 80px;
}
.super-sub-action-link-2{
    border: #2AFAC2 solid 1px;
    padding: 21px 98px 17px 92px;
}
.action-1{
    background-color: #39B2B7;
    color: #311A8B;
    font-size: 18px;
    font-weight: bold;
    padding: 13px 24px 11px 32px;
    border-radius: 25px;
    text-decoration: none;
    font-family: 'poppins-bold';
}
.footer-container{
    display: flex;
    justify-content: center;
    padding: 45px 77px 58px 73px;
}
.mobile-footer-links{
    padding-right:204px;
}
.footer-action-1{
    background-color: white;
    color: #504450;
    font-size: 11px;
    font-weight: 600;
    border: #707070 solid 1px;
    padding: 2px 67px 3px 76px;
    text-decoration: none;
    border-radius: 10px;
    font-family: 'poppins-regular';
}
.additional-footer-action-container{
    margin-bottom: 15px;
}
.footer-action-container{
    margin-bottom: 15px;
}
.footer-action-2{ 
    padding: 3px 17px; 
}
.footer-action-4{
    padding: 5px 55px;
    padding: 3px 53px 3px 50px;
}
.disable-button{
    background-color: #EFEDED;
    color: #504450;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 10px;
    padding: 2px 13px 3px 12px;
    display: block;
    width: 70px;
    margin-top: 15px;
    font-family: 'poppins-regular';
}
.mobile-parter-container{
    display: none;
}
.parter-container{
    margin-top: 37px;
}
.parter-link{
    color: #FA3B6E;
    border: #FF4A4A solid 1px;
    padding: 13px 34px;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
    font-family: 'poppins-bold';
}
.sub-footer-container{
    display: flex;
    justify-content: center;
}
.super-footer-container{
    display: flex;
    flex-direction: column;
    margin-right: 149px;
}
.super-footer-container-1{
    margin-right: 149px;
}
.super-footer-container-2{
    margin-right: 135px;
}
.footer-header{
    color: #504450;
    font-size: 20px;
    font-weight: bold;
    font-family: 'poppins-bold';
}
.footer-action-links{
    color: #504450;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 10px;
    font-family: 'poppins-regular';
}
.footer-icon-container{
    display: flex;
    justify-content: center;
}
.footer-icon-container i+i{
    margin-left: 20px;
}
.copyright-para{
    font-size: 14px;
    color: #504450;
    margin: 40px auto;
    max-width: 75%;
    text-align: center;
    position: relative;
    font-family: 'poppins-regular';
}
.copyright-para::before{
    content: "";
    display: block;
    width: 270px;
    height: 2px;
    background: rgb(66, 65, 65);
    position: absolute;
    left: 0;
    top:50%;
    z-index: -2;
}
.copyright-para::after{
    content: "";
    display: block;
    width: 270px;
    height: 2px;
    background: rgb(66, 65, 65);
    position: absolute;
    right: 0;
    top:50%;
    z-index: -2;
}
.sub-para-span{
    background: #fff;
}
